html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.code {
  font-family: monospace;
}

.code.force-input input {
  font-family: monospace !important;
}

.add-new {
  color: gainsboro;
  font-style: italic;
}

.space-lower {
  margin-bottom: 5px !important;
}

table{
  table-layout: fixed;
}

table td{
  overflow: hidden;
}
